.wd-heading {
    font-size: 18px
}

.wd-position-profile {
    bottom: -52px;
    left: 25px;
}

.wd-normal-text {
    font-style: normal;
}

.wd-bold {
    font-weight: bold;
}

.wd-info-section {
    margin-top: 70px;
}