.wd-heading-black {
    color: black;
    font-weight: bold;
}

.wd-flex-text {
    display: flex;
    align-items: center;
}

.wd-check-color {
    color: blue;
}

.wd-liked-heart {
    color: red;
}

.wd-rounded-cover {
    object-fit: cover;
}